.my-projects {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  border-top: 4px solid rgb(250 250 250 / 0.2);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
