.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  width: calc(100% - 350px);
  position: relative;
  top: 70px;
  height: calc(100% - 70px);
  scrollbar-width: none;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
  }
}

.container::-webkit-scrollbar {
  display: none;
}
