.card {
  background-color: rgb(250 250 250 / 0.8);
  margin: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.card .card-image {
  padding: 10px;
}

.card .card-image img {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.card .card-content {
  padding: 20px;
}

.card .card-content .card-title {
  font-size: 17px;
  color: var(--main-color);
  margin-bottom: 30px;
}

.card .card-content .buttons {
  display: flex;
  justify-content: space-evenly;
}

.card .card-content .buttons a {
  border: 2px solid var(--main-color);
  padding: 8px 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.card .card-content .buttons .demo {
  color: var(--main-color);
}

.card .card-content .buttons .demo:hover {
  color: white;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.card .card-content .buttons .code {
  background-color: var(--main-color);
  color: white;
}

.card .card-content .buttons .code:hover {
  background-color: inherit;
  color: var(--main-color);
}

@media (max-width: 991px) {
  .card .card-content .card-title,
  .card .card-content .buttons a {
    font-size: 15px;
  }
}
