@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --main-color: #a43f49;
  --secondary-color: #83323a;
<<<<<<< HEAD
  --padding-top: 80px;
  --padding-bottom: 80px;
=======
  --padding-top: 100px;
  --padding-bottom: 100px;
>>>>>>> c0d217a3e07ab69dcd3b5f227fe7f7003aaf32d2
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
